.NavItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  color: var(--font-1);
  cursor: pointer;
  transition: background-color 150ms ease;

  &:last-child {
    margin-top: auto;
  }

  &:hover {
    background-color: var(--bg-3);
  }
}

.NavSvg {
  width: 5rem;
  min-width: 5rem;
  margin: 0 1.5rem;
  transition: color 150ms ease;
}

.NavTitle {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  flex-shrink: 0;
  display: none;
}

.NavTitleActive {
  display: inline;
}
